.highlight.string {
    color: #007D05;
}

.highlight.number {
    color: #986801;
}

.highlight.bytes {
    color: #50A14F;
}

.highlight.keyword {
    color: #A626A4;
}

.highlight.comment {
    color: #A0A1A7;
}

.highlight.identifier {
    color: #E45649;
}

.highlight.bracket {
    color: #383A42;
}

.highlight.operator {
    color: #0184BC;
}

.highlight.keyword-literal {
    color: #986801;
}

.highlight {
    font-family: "Fira Code", monospace;
}

tr, th, td {
    border: solid lightgray 1px;
    padding: .3em;
}

table {
    border-collapse: collapse;
}

h1, h1 > a, h2, h2 > a, h3, h3 > a {
    color: var(--grey-2);
}